In [1]:
from bs4 import BeautifulSoup
import requests
from splinter import Browser
import time
import pandas as pd

In [2]:
!which chromedriver

/usr/local/bin/chromedriver

In [3]:
# Choose the executable path to driver 
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [4]:
#get url
news_url = 'https://mars.nasa.gov/news/'
browser.visit(news_url)
html = browser.html

## Step 1 - Scraping

## Scrape the NASA Mars

#### Scrape the NASA Mars News Site and collect the latest News Title and Paragraph Text

In [5]:
#get html by BeautifulSoup
soup = BeautifulSoup(html, 'html.parser')
#print(soup.prettify())

In [6]:
#Scrape the NASA Mars News Site and collect the latest News Title and Paragraph Text

news_title = soup.find('div', class_='content_title').find('a').text
news_p = soup.find('div',class_='rollover_description').text

print(news_title)
print(news_p)

NASA's Opportunity Rover Mission on Mars Comes to End



NASA's Opportunity Mars rover mission is complete after 15 years on Mars. Opportunity's record-breaking exploration laid the groundwork for future missions to the Red Planet.

## JPL Mars Space Images - Featured Image

#### Use splinter to navigate the site and find the "full size" image url for the current Featured Mars Image

In [7]:
#locate image web address
image_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
image_browser = browser.visit(image_url)

In [8]:
# #Retrieve image url using Beautifulsoup
# image_html = browser.html
# soup = BeautifulSoup(image_html, 'html.parser')
# image = soup_image.find('div',class_='full_image')
# print(image.prettify())

In [9]:
image_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
image_browser = browser.visit(image_url)
full_image_elm = browser.find_by_id ('full_image')
full_image_elm.click()

In [10]:
#time.sleep(5)
browser.is_element_present_by_text('more info',wait_time=1)
more_info_elm = browser.find_link_by_partial_text('more info')
more_info_elm.click()

In [11]:
html = browser.html
soup = BeautifulSoup(html,'html.parser')

In [12]:
image = soup.select_one('figure.lede a img').get('src')
main_url = 'https://www.jpl.nasa.gov'
featured_image_url = main_url + image
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA17652_hires.jpg

## Mars Weather from Twitter

#### Visit the Mars Weather twitter account here and scrape the latest Mars weather tweet from the page

In [13]:
#use splinder to open twitter
url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [14]:
#get the latest tweet
weather_tweet = soup.find('div', attrs = {"class":"tweet","data-name":"Mars Weather"})
mars_weather = weather_tweet.find('p', 'tweet-text').get_text()
print(mars_weather)

InSight sol 258 (2019-08-18) low -100.0ºC (-148.1ºF) high -26.2ºC (-15.2ºF)
winds from the SSE at 5.3 m/s (11.9 mph) gusting to 16.8 m/s (37.6 mph)
pressure at 7.60 hPapic.twitter.com/5nCVjcsmlZ

In [15]:
##get the second latest tweet (in case the first one is not about Mars weather)
# weather_tweet = soup.find_all( attrs = {"class":"tweet","data-name":"Mars Weather"})[1]
# mars_weather = weather_tweet.find('p', 'tweet-text').get_text()
#print(mars_weather)

## Mars Facts

#### Visit the Mars Facts webpage, use Pandas to scrape the table containing facts about the planet including Diameter, Mass

In [16]:
#get url
url = 'https://space-facts.com/mars/'

In [17]:
# use pandas to read html
tables = pd.read_html(url)
tables

[  Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [18]:
# pretty the table
df = tables[0]
df.head()

  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days

In [19]:
#Use Pandas to convert the data to a HTML table string
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars - Earth Comparison</th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Temperature:</td>\n      <td>-153 to 20 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [20]:
# strip unwanted newlines to clean up the table.
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Mars - Earth Comparison</th>      <th>Mars</th>      <th>Earth</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Diameter:</td>      <td>6,779 km</td>      <td>12,742 km</td>    </tr>    <tr>      <th>1</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg</td>      <td>5.97 × 10^24 kg</td>    </tr>    <tr>      <th>2</th>      <td>Moons:</td>      <td>2</td>      <td>1</td>    </tr>    <tr>      <th>3</th>      <td>Distance from Sun:</td>      <td>227,943,824 km</td>      <td>149,598,262 km</td>    </tr>    <tr>      <th>4</th>      <td>Length of Year:</td>      <td>687 Earth days</td>      <td>365.24 days</td>    </tr>    <tr>      <th>5</th>      <td>Temperature:</td>      <td>-153 to 20 °C</td>      <td>-88 to 58°C</td>    </tr>  </tbody></table>'

In [21]:
#save html table
df.to_html('mars_facts_table.html')

In [22]:
!open table.html

## Mars Hemispheres

#### Visit the USGS Astrogeology site to obtain high resolution images for each of Mar's hemispheres

In [23]:
print(news_title)
print(news_p)
print(featured_image_url)
print(mars_weather)
print(html_table)

NASA's Opportunity Rover Mission on Mars Comes to End



NASA's Opportunity Mars rover mission is complete after 15 years on Mars. Opportunity's record-breaking exploration laid the groundwork for future missions to the Red Planet.





https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA17652_hires.jpg
InSight sol 258 (2019-08-18) low -100.0ºC (-148.1ºF) high -26.2ºC (-15.2ºF)
winds from the SSE at 5.3 m/s (11.9 mph) gusting to 16.8 m/s (37.6 mph)
pressure at 7.60 hPapic.twitter.com/5nCVjcsmlZ
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Mars - Earth Comparison</th>
      <th>Mars</th>
      <th>Earth</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Diameter:</td>
      <td>6,779 km</td>
      <td>12,742 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg</td>
      <td>5.97 × 10^24 kg</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Moons:</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Distance from Sun:</td>
      <td>227,943,824 km</td>
      <td>149,598,262 km</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Length of Year:</td>
      <td>687 Earth days</td>
      <td>365.24 days</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Temperature:</td>
      <td>-153 to 20 °C</td>
      <td>-88 to 58°C</td>
    </tr>
  </tbody>
</table>

## Step 2 - MongoDB and Flask Application

#### Use MongoDB with Flask templating to create a new HTML page that displays all of the information that was scraped from the URLs above.