In [11]:
from bs4 import BeautifulSoup
import requests
from splinter import Browser
import time
import pandas as pd

In [12]:
!which chromedriver

/usr/local/bin/chromedriver

In [13]:
# Choose the executable path to driver 
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [14]:
#get url
news_url = 'https://mars.nasa.gov/news/'
browser.visit(news_url)
html = browser.html

## Step 1 - Scraping

## Scrape the NASA Mars

#### Scrape the NASA Mars News Site and collect the latest News Title and Paragraph Text

In [15]:
#get html by BeautifulSoup
soup = BeautifulSoup(html, 'html.parser')
#print(soup.prettify())

In [16]:
#Scrape the NASA Mars News Site and collect the latest News Title and Paragraph Text

news_title = soup.find('div', class_='content_title').find('a').text
news_p = soup.find('div',class_='rollover_description').text

print(news_title)
print(news_p)

NASA's Opportunity Rover Mission on Mars Comes to End



NASA's Opportunity Mars rover mission is complete after 15 years on Mars. Opportunity's record-breaking exploration laid the groundwork for future missions to the Red Planet.

## JPL Mars Space Images - Featured Image

#### Use splinter to navigate the site and find the "full size" image url for the current Featured Mars Image

In [17]:
#locate image web address
# image_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
# image_browser = browser.visit(image_url)

In [18]:
# #Retrieve image url using Beautifulsoup
# image_html = browser.html
# soup = BeautifulSoup(image_html, 'html.parser')
# image = soup_image.find('div',class_='full_image')
# print(image.prettify())

In [19]:
image_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
image_browser = browser.visit(image_url)
full_image_elm = browser.find_by_id ('full_image')
full_image_elm.click()

In [20]:
#time.sleep(5)
browser.is_element_present_by_text('more info',wait_time=1)
more_info_elm = browser.find_link_by_partial_text('more info')
more_info_elm.click()

In [21]:
html = browser.html
soup = BeautifulSoup(html,'html.parser')

In [22]:
image = soup.select_one('figure.lede a img').get('src')
main_url = 'https://www.jpl.nasa.gov'
featured_image_url = main_url + image
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA18452_hires.jpg

## Mars Weather from Twitter

#### Visit the Mars Weather twitter account here and scrape the latest Mars weather tweet from the page

In [23]:
#use splinder to open twitter
url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [24]:
#get the latest tweet
weather_tweet = soup.find('div', attrs = {"class":"tweet","data-name":"Mars Weather"})
mars_weather = weather_tweet.find('p', 'tweet-text').get_text()
print(mars_weather)

InSight sol 261 (2019-08-21) low -102.4ºC (-152.4ºF) high -26.6ºC (-15.8ºF)
winds from the SSE at 4.9 m/s (11.0 mph) gusting to 16.0 m/s (35.8 mph)
pressure at 7.70 hPapic.twitter.com/MhPPOHJg3m

In [25]:
##get the second latest tweet (in case the first one is not about Mars weather)
# weather_tweet = soup.find_all( attrs = {"class":"tweet","data-name":"Mars Weather"})[1]
# mars_weather = weather_tweet.find('p', 'tweet-text').get_text()
#print(mars_weather)

## Mars Facts

#### Visit the Mars Facts webpage, use Pandas to scrape the table containing facts about the planet including Diameter, Mass

In [26]:
#get url
url = 'https://space-facts.com/mars/'

In [27]:
# use pandas to read html
tables = pd.read_html(url)
tables

[  Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [28]:
# pretty the table
df = tables[1]
df.columns=['Facts', 'Values']
df.set_index(['Facts'])

                                             Values
Facts
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [29]:
#Use Pandas to convert the data to a HTML table string
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Facts</th>\n      <th>Values</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [30]:
# strip unwanted newlines to clean up the table.
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Facts</th>      <th>Values</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [31]:
#save html table
df.to_html('mars_facts_table.html')

In [32]:
!open table.html

The file /Users/chengchenggan/Bootcamp/web-scraping-mongodb/table.html does not exist.

## Mars Hemispheres

#### Visit the USGS Astrogeology site to obtain high resolution images for each of Mar's hemispheres

In [33]:
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

In [99]:
#get hemisphere title
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

html = browser.html
soup = BeautifulSoup(html,'html.parser')
hemisphere_title_links = soup.find_all('h3')

titles = []
for hemisphere_title_link in hemisphere_title_links:
    titles.append(hemisphere_title_link.text)
for title in titles:
    print(title)

Cerberus Hemisphere Enhanced
Schiaparelli Hemisphere Enhanced
Syrtis Major Hemisphere Enhanced
Valles Marineris Hemisphere Enhanced

In [132]:
#get image url

hemisphere_images=[]

for title in titles:
    hemisphere_link = browser.find_link_by_partial_text(title)
    hemisphere_link.click()
   
    html = browser.html
    soup = BeautifulSoup(html,'html.parser')

    hemisphere_images.append(soup.find('div','downloads').select_one('a').get('href'))
    url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
    browser.visit(url)
    
for hemisphere_image in hemisphere_images:   
    print(hemisphere_image)

http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg

In [131]:
#combine title and url in a list

hemisphere_image_collection = list(zip(titles, hemisphere_images))
hemisphere_image_urls = []
for title,hemisphere_image in hemisphere_image_collection:
    hemisphere_image_urls.append({'title': title, 'img_url':hemisphere_image})
print(hemisphere_image_urls)

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]

In [ ]:
print(news_title)
print(news_p)
print(featured_image_url)
print(mars_weather)
print(html_table)

## Step 2 - MongoDB and Flask Application

#### Use MongoDB with Flask templating to create a new HTML page that displays all of the information that was scraped from the URLs above.